<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.monitor.slack</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Users/user/Documents/ScriptMonitoringEat/bin/python3</string>
        <string>-u</string>
        <string>/Users/user/Documents/ScriptMonitoringEat/main.py</string>
    </array>

    <key>WorkingDirectory</key>
    <string>/Users/user/Documents/ScriptMonitoringEat/</string>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/tmp/com.monitor.slack.out.log</string>

    <key>StandardErrorPath</key>
    <string>/tmp/com.monitor.slack.err.log</string>
</dict>
</plist>
